In [12]:
s1={1,2,3,4}
s2={3,4,5,6}
res1=s1.union(s2)
print(res1)
res2=s1.intersection(s2)
print(res2)
res3=s1.difference(s2)#the difference is not updated in the set s1 and returns the elements which are different from s2
print(res3)
print(s1)
res4=s1.difference_update(s2)#the difference is updated in the set s1
print(res4)
print(s1)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 3, 4}
None
{1, 2}

In [14]:
number=int(input())
if(number&1==0):
    print(number," is an even number")
else:
    print(number," is an odd number")

5
5  is an odd number

In [15]:
print('EVEN') if int(input())&1==0 else print("ODD")

7
ODD

In [18]:
day=int(input())
if(day==1):
    print('SUNDAY')
elif(day==2):
    print('MONDAY')
elif(day==3):
    print('TUESDAY')
elif(day==4):
    print('WEDNESDAY')
elif(day==5):
    print('THURSDAY')
elif(day==6):
    print('FRIDAY')
elif(day==7):
    print('SATURDAY')
else:
    print('INVALID')

10
INVALID

In [21]:
number=int(input())
if(number>0 and number<20):
    if(number&1==0):
        print("WEIRD NUMBER")
    else:
        print("NORMAL NUMBER")
elif(number>=20 and number<30):
    print('NORMAL NUMBER')
elif(number>=30 and number&1==1):
    print('NORMAL NUMBER')
elif(number>=30 and number&1==0):
    print('WEIRD NUMBER')

5
NORMAL NUMBER

In [7]:
d={}
d.update({585:"Tanuja"})
d.update({574:'Pavani'})
print(d)
print(d.get(585))

{585: 'Tanuja', 574: 'Pavani'}
Tanuja

In [10]:
list1=[1,4,5,6,7,10]
num=int(input())
for i in range(len(list1)):
    if(num==list1[i]):
        print(i)
        break
else:
    print(-1)

1
0

In [12]:
l1=[]
for i in range(10):
    l1.append(i)
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
x=[i for i in range(1,101) if i%7==0 and i%11==0]
x

[77]

In [8]:
li=list(map(int,input().split()))
for i in range(len(li)-1,-1,-1):
    print(li[i],end=' ')

2 3 4
4 3 2

In [10]:
l=list(map(int,input().split()))
s=0
for i in l:
    s+=i
print(s)

2 5 7
14